<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>965770409589-3i2b36dedjt75d4jf2oko1u7nup4s9k5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.965770409589-3i2b36dedjt75d4jf2oko1u7nup4s9k5</string>
	<key>API_KEY</key>
	<string>AIzaSyCEzqUq_NpdzA0hCSADGMKuGDH5xXo1tcA</string>
	<key>GCM_SENDER_ID</key>
	<string>965770409589</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.efekoc.Threads</string>
	<key>PROJECT_ID</key>
	<string>threads-377fa</string>
	<key>STORAGE_BUCKET</key>
	<string>threads-377fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:965770409589:ios:d5a1cb13109ba02451aa3c</string>
</dict>
</plist>